Le module pandas a été développé pour apporter à Python les outils nécessaires pour manipuler de gros volumes de données. Ce module a pour objectif de devenir le meilleur outil de manipulation de données : à la fois performant, facile d'utilisation et flexible. Le module existe depuis 2008 mais son développement s'est fortement accéléré avec la publication régulière de nouvelles versions, la version 1.0 étant sortie en Janvier 2020. Pandas est aujourd'hui le module le plus utilisé pour gérer des bases de données sous Python.

Les principales fonctionnalités de pandas sont la récupération des données depuis des fichiers (CSV, tableaux Excel, des pages web, HDF5, etc..) et la manipulation de ces données (grouper, découper, alléger, déplacer,...). Pandas introduit la notion de data frame à Python qui est un concept central en analyse de données moderne.

https://pandas.pydata.org/pandas-docs/stable/

        Resume des fonctions

In [ ]:
#1 --------------------------------------------------------------------------------------------------------------------Import 
import pandas as pd
import numpy as np

pwd #localise l endroit du jupiter nt book


#2 -------------------------------------------------------------------------------------------------------------Creation de df  

#Creation de DataFrame :
#------------------------------------------------------------------------
#Possible avec plusieur type de var: (np.array, liste , dictionnaire,...)

#Avec un np.array :
ar = np.array([[1, 2, 3, 4], [7, 10, 5.2, 7], [1.5, 9, 1.5, 15]])
df = pd.DataFrame(ar, index = ['i1', 'i2', 'i3'], columns = ['A', 'B', 'C', 'D'])

#Avec un dictionnaire :
df = pd.DataFrame({'A': [1, 7, 1.5], 'B': [2, 10, 9], 'C': [3, 5.2, 1.5], 'D': [4, 7, 15]},
                      index = ['i1', 'i2', 'i3'])

#Lecture/ecriture de file :
#3 -------------------------------------------------------------------------------------------------------------Lecture de df

#CSV :
#------------------------------------------------------------------------
df = pd.read_csv('file.csv') #Lecture depuis un file csv 
df = pd.read_csv('file.csv', sep = ',') #Lecture depuis un file csv 
df = pd.read_csv('nba_sb2.csv', index_col= 0) #Lecture depuis un file csv et fixe la col 0 comme index
df.to_csv('file')     #ecriture depuis un file csv 

#excel :
#------------------------------------------------------------------------
pd = df.read_excel ('excel',sheet_name = 'sheet name')#lecture 
pd.to_excel('files',sheet_name= 'sheet name')#ecriture

#html :
#------------------------------------------------------------------------
pd = df.read_html ('name') #lecture 


#Lecture d'un DataFrame
#3 ------------------------------------------------------------------------------------------------------Lecture d'un DataFrame
#lecture partielle ou slicing :
#------------------------------------------------------------------------
transactions.head()     #lecture debut df
transactions.tail()     #lecture fin df
#slicing 
df.loc[2] # permet d'extraire la ligne d'indice 2 de df
df.loc[(44,90), "Name"] #permet d'extraire les valeur de la colonne "Name" sur les lignes d'indice 44 et 90 de df
df.iloc[2,5]  # permet d'extraire l'élément de la 3ème ligne et 6ème colonne de df
df.iloc[[0,9,14]] # permet d'extraire la première, dixième et quinzième ligne de df
df.loc[1:20,"Price"] #permet d'extraire la colonne "Price" sur les 20 lignes d'indices 1 à 20
df.iloc[:50] # extrait les 50 premières lignes de df (de 0 à 49)
transactions.iloc[:10][:10] # extrait les 10 premiere lignes pour les 10 premieres colonnes
transactions[["tran_date","Qty","Rate"]].iloc[:10]  #pour les col ["tran_date","Qty","Rate"] les 10 ^remiere lignes
transactions.loc [[1,37], ["cust_id","Qty"]]   #ligne 1 et 37 pour col  ["cust_id","Qty"]



#doublons  :
#------------------------------------------------------------------------
transactions.duplicated(keep='first').sum()                  # pour compter le nombre de doublons dans mon_df
transactions.drop_duplicates(keep='first',inplace = True)    #supprime les doublons d'un data frame

#informations  :
#------------------------------------------------------------------------
df.value_counts()      #count le nombre de val differente
df.describe()          #info statistique et autres
df.info()              #type de var

#datetime  :
#------------------------------------------------------------------------
pd.to_datetime(df['Date']) #pour mettre toutes les dates de la variable Date au même format
year,month,day = pd.to_datetime(transactions.loc[0,"tran_date"]).year,      #Extrait d un dt de la ligne 0 
                pd.to_datetime(transactions.loc[0,"tran_date"]).month,      #les info temporelles années days mois
                pd.to_datetime(transactions.loc[0,"tran_date"]).day     #
df ['day'] = pd.to_datetime(transactions.loc[0:,"tran_date"]).day      #cree une col 'day au df avec les info jour 
pd.to_datetime(transactions.loc[0, "tran_date"])                    #dt - dt = delta time pour calculer la diff de temps
                -pd.to_datetime(transactions.loc[1, "tran_date"])

#stastitique :
#------------------------------------------------------------------------
df['total_amt'].min ()
df['total_amt'].max ()
df.mean()

#attribut  :
#------------------------------------------------------------------------
ligne,colone = df.shape 
df.index
df.column

#diverses fonctions :
#------------------------------------------------------------------------
df2 = df.copy()   #copy de df
df.info ()#type de var
df.describe () #decit le df
df.sort_values ()#fct pour trier les values
df.value_counts()#fct pour compter  les values
mon_df['var'].rolling(5).sum() #renvoie la somme mobile sur 5 éléments
mon_df.rename(columns={'old_name': 'new_name'},inplace=True) #pour renommer la variable old_name par new_name
df['ma_var'].mode() # renvoie une série avec la modalité la plus fréquente
df['ma_var'].mode()[0] # renvoie la value de la modalité la plus fréquente
df['ma_var'].unique()# pour obtenir les modalités unique de la col ma_var
df['prod_subcat_code'].nunique() # pour obtenir le nbr de modalités unique de la col 
df.append(serie)    #ajoute une serie a un df
round(2)   #permet d arrondir au vigules

#la fonction apply :
#------------------------------------------------------------------------
df.loc[:5,'total_amt'].apply(lambda x : round (x,1))

#4 --------------------------------------------------------------------------------------------------------nettoyer un DataFrame
#changer des val :
#------------------------------------------------------------------------
df["Store_type"].replace(['e-Shop', 'TeleShop', 'MBR', 'Flagship store'],[0,1,2,3],inplace = True) #change les valeurs ds la col
df['Store_type'].astype(float,inplace=True)            #change le type des valeurs ds la col
type(df.loc[1,'Store_type'])                           #verifie le type 

#value NA  :
#------------------------------------------------------------------------
df.isnull().any()   # ou pd.isnull(df).any() #retourne un bool si precence de val NA
df.isnull().sum()   #retourne la somme des val NA
df.fillna(0) # remplace toutes les valeurs manquantes par des zéros
df.fillna(df.mean()) # remplace les valeurs manquantes de chaque colonne par la moyenne sur cette colonne
df.fillna(df.mode()[0])  #remplace par la valeur la plus frequente
df['ma_var'].fillna(df['ma_var'].mode()[0], inplace = True) #remplace par la valeur la plus frequente de la col dans la col
df.dropna(how = 'any') # supprime toutes les lignes contenant au moins un NA
df.dropna(how = 'all', subset = ['col2','col3','col4']) # supprime les lignes vides sur les 3 colonnes mentionnées
df.dropna(axis = 1, how = 'all') # supprime les colonnes complètement vides (par défaut axis=0)
df.dropna(subset = ['gre'], inplace = True)      #supprine les na de la col gre
df.drop(0) # supprime la première ligne
df.drop("Name", axis=1) # supprime la colonne Name (par défaut axis=0)

#5 ------------------------------------------------------------------------------------------------------manipuler un DataFrame
#se résumer à l'utilisation de 4 opérations essentielles : filtrer, unir, ordonner et grouper.

#filtrer :
#------------------------------------------------------------------------
 transactions [(transactions['Store_type']=='TeleShop') & (transactions['total_amt']> 5000)]

#Unir :
#------------------------------------------------------------------------
pd.concat((df1,df1))  #peuvent être concaténer par lignes (axis=0) ou par colonnes (axis=1)
pd.merge(transactions ,customer , how='inner') #si les df partagent une col identique
df1.join(df2,how='inner')

#ordonner/Trier  :
#------------------------------------------------------------------------
mon_df.set_index('ma_col') # renvoie un dataframe avec en index ma_col
mon_df.reset_index() # renvoie un dataframe avec un index réinitialisé
fusion.sort_values('age',ascending=False)        #trie par value dans col
mon_df.sort_index(axis = 0, ascending = False)   #trie par index


#Grouper :
#------------------------------------------------------------------------
df.groupby('Store_type').agg({'total_amt':'sum','Tax':'mean'})
df.groupby(['prod_cat_code','Unit_price']).agg({'total_amt':'sum','Tax':['min','median'],'Qty':'sum'})  #groupby

pd.crosstab(mon_df['Genre'], mon_df['Test']) #groupe pour visualisation simplifie

        Nettoyage d un df au chargement.  A FAIRE AU DEBUT !!!

In [ ]:
# Importation du module
import pandas as pd

# Chargement de la base transactions
df = pd.read_csv("transactions.csv", sep =',')

#Suppression des doublons
df = df.drop_duplicates()

#Gestion du format de tran_date
df['tran_date'] = pd.to_datetime(df['tran_date'])

#Renommage de la variable Rate par Price
df = df.rename(columns = {'Rate':'Unit_price'})

In [22]:
import numpy as np
import pandas as pd 

#cree un df ----------------------------------------------
    #depuis un dictionnaire
df = pd.DataFrame({'Age': [56,23,32,96,63,45,78,98,100], #cree un df 
                   'Sexe': ['M','M','F','M','M','F','M','M','F'],
                   'Taille':[174,182,169,104,282,69,174,145,169]},
                  index = ['Robert','Mark','Alina','jakie','michelle','anny','kelia','bill','maz'])

    #depuis un np array 
table = np.random.randn (2,6)
test = pd.DataFrame (table)


#lire ecrire depuis un file
#df = pd.read_csv('transactions.csv') #lire un df depuis un csv

In [33]:
#slicing ----------------------------------------------
print('df \n',df)

print('\ndf.head \n',df.head())   #le debut
print('\ndf.tail \n',df.tail())   #la fin
print('\ndf.iloc \n',df.iloc[3:])   #le num d indice
#print('\ndf.loc \n',df.loc['anny'])   #la valeur de l indice
#df = df.reset_index()                #index numerique reseter
df.rename(columns = {'index' : 'name'},inplace = True)  #rename le nom des colones

#df.loc[:2,["name", "Sexe"]]
df.loc[:2, ["Sexe",'Age',"name"]]

df
       index  Age Sexe  Taille
0    Robert   56    M     174
1      Mark   23    M     182
2     Alina   32    F     169
3     jakie   96    M     104
4  michelle   63    M     282
5      anny   45    F      69
6     kelia   78    M     174
7      bill   98    M     145
8       maz  100    F     169

df.head
       index  Age Sexe  Taille
0    Robert   56    M     174
1      Mark   23    M     182
2     Alina   32    F     169
3     jakie   96    M     104
4  michelle   63    M     282

df.tail
       index  Age Sexe  Taille
4  michelle   63    M     282
5      anny   45    F      69
6     kelia   78    M     174
7      bill   98    M     145
8       maz  100    F     169

df.iloc
       index  Age Sexe  Taille
3     jakie   96    M     104
4  michelle   63    M     282
5      anny   45    F      69
6     kelia   78    M     174
7      bill   98    M     145
8       maz  100    F     169

  Sexe  Age    name
0    M   56  Robert
1    M   23    Mark
2    F   32   Alina